<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>마이페이지 공통</title>
  <link rel="stylesheet" href="/css/mypagelayout.css">

  <link rel="stylesheet" href="/css/mypage.css">
  <link rel="stylesheet" href="/css/EventHistory.css">
  <link rel="stylesheet" href="/css/InquiryHistory.css">
  <link rel="stylesheet" href="/css/InquiryWrite.css">
  <link rel="stylesheet" href="/css/myinfo.css">
  <link rel="stylesheet" href="/css/mybooklist.css">




</head>
<body>
<!-- ================= 헤더 ================= -->
<div th:replace="~{fragments/header :: header}"></div>

<!-- ================= 메인 ================= -->
<div class="container">

  <!-- ===== 좌측 프로필 영역 ===== -->
  <aside class="mypage-sidebar">

    <!-- 프로필 영역 -->
    <div class="profile-box">

      <div class="profile-info">
        <div class="profile-img"
             th:style="'background-image:url(' + ${profileImg} + ');'"></div>

        <div class="profile-name" th:text="${profileNm}">사용자 닉네임</div>

      </div>

      <!-- 메뉴 -->
      <nav class="profile-menu">
        <button class="write-btn">✏️ 글쓰기</button>
        <ul>
          <li><a th:href="@{/mypage}">마이페이지</a></li>
          <li><a th:href="@{/mypage/myinfo}">내 정보</a></li>
          <li><a th:href="@{/my/booklist}">내 서재</a></li>
       <!--  <li><a th:href="@{/mypage/mallang}">말랑이 키우기</a></li> -->
          <li><a th:href="@{/mypage/events}">이벤트 참여내역</a></li>
          <li><a th:href="@{/my/inquiry}">내 문의 내역</a></li>
        </ul>
      </nav>
      <!-- 오른쪽 콘텐츠 영역 -->


        <!--반납, 연체 여부-->
        <div class="status-message">
          <span th:text="${statusText}">대여 불가능</span>
          <span th:if="${statusValue != null and statusValue != ''}"
                th:classappend="${statusLevel}"
                th:text="${statusValue}">D-2</span>
        </div>


    </div>
  </aside>

  <!-- ===== 우측(조각이 들어가는 자리) ===== -->
  <section class="mypage-content">
    <th:block th:replace="~{${content} :: content}"></th:block>
  </section>



</div>

<!-- ================= 푸터 ================= -->
<div th:replace="~{fragments/footer :: footer}"></div>


</body>
</html>
