<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.booknara.booknaraPrj.mainpage.mapper.LibrarianBookMapper">

    <select id="selectLibrarianBooks"
            resultType="com.booknara.booknaraPrj.mainpage.dto.LibrarianBookDTO">

        SELECT
        b.ISBN13      AS isbn13,
        b.BOOK_TITLE  AS bookTitle,
        b.AUTHORS     AS authors,
        b.PUBLISHER   AS publisher,
        b.NAVER_IMAGE AS bookImg
        FROM RECOM_BOOKS r
        JOIN BOOK_ISBN b
        ON r.ISBN13 = b.ISBN13
        WHERE r.STATE = 'active'
        ORDER BY r.CREATED_AT DESC
        LIMIT 6

    </select>

</mapper>
