<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.booknara.booknaraPrj.mypage.myinquiry.MyInquiryMapper">

    <!-- 내 문의 내역 조회 -->
    <select id="selectMyInquiry"
            parameterType="map"
            resultType="com.booknara.booknaraPrj.mypage.myinquiry.MyInquiryHistoryDto">

        SELECT
        INQ_ID        AS inqId,
        INQ_TITLE     AS inqTitle,
        INQ_CONTENT   AS inqContent,
        RESP_CONTENT  AS respContent,
        CREATED_AT    AS createdAt
        FROM INQUIRY
        WHERE USER_ID = #{userId}
        AND IS_DELETED = 'N'

        <if test="keyword != null and keyword != ''">
            AND (
            INQ_TITLE LIKE CONCAT('%', #{keyword}, '%')
            OR INQ_CONTENT LIKE CONCAT('%', #{keyword}, '%')
            )
        </if>

        ORDER BY CREATED_AT DESC
    </select>

    <!-- 문의 작성 -->
    <insert id="insertInquiry"
            parameterType="com.booknara.booknaraPrj.mypage.myinquiry.MyInquiryWriteDto">

        INSERT INTO INQUIRY (
        INQ_ID,
        USER_ID,
        INQ_TITLE,
        INQ_TYPE,
        INQ_CONTENT,
        CREATED_AT
        ) VALUES (
        #{inqId},
        #{userId},
        #{inqTitle},
        #{inqType},
        #{inqContent},
        NOW()
        )
    </insert>


    <!-- 파일 경로 업데이트 -->
    <update id="updateInquiryFiles">
        UPDATE INQUIRY
        SET
        FILE_PATH_1 = #{filePath1},
        FILE_PATH_2 = #{filePath2},
        FILE_PATH_3 = #{filePath3},
        UPDATED_AT = NOW()
        WHERE INQ_ID = #{inqId}
    </update>



</mapper>
