<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.booknara.booknaraPrj.mainpage.mapper.NewBookMapper">


    <select id="selectLatestBooks"
            resultType="com.booknara.booknaraPrj.mainpage.dto.NewBookDTO">

        SELECT
        ISBN13       AS isbn13,
        BOOK_TITLE   AS bookTitle,
        AUTHORS      AS authors,
        PUBLISHER    AS publisher,
        NAVER_IMAGE  AS bookImg
        FROM BOOK_ISBN
        ORDER BY CREATED_AT DESC
        LIMIT 6
    </select>


</mapper>
