<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.booknara.booknaraPrj.mypage.withdraw.WithdrawMapper">

    <select id="selectPassword" resultType="string">
        SELECT PASSWORD
        FROM USERS
        WHERE USER_ID = #{userId}
    </select>

    <update id="updateUserState">
        UPDATE USERS
        SET USER_STATE = #{state}
        WHERE USER_ID = #{userId}
    </update>

</mapper>
