<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>이용안내 상세</title>
    <link rel="stylesheet" th:href="@{/css/detail.css}" />
  </head>
  <body>
  <div th:replace="fragments/header :: header"></div>


  <main class="container">
      <h2 class="page-title">이용안내 상세</h2>

      <section class="card" id="detail"></section>

      <div class="actions">
        <button class="ghost-btn" type="button" onclick="history.back()">
          목록으로
        </button>
      </div>
    </main>

    <script th:inline="javascript">
        const idModel = [[${id}]]; // 여기서 모델 데이터 치환
    </script>

    <script th:src="@{/js/guideDetail.js}"></script>
    <div th:replace="fragments/footer :: footer"></div>

  </body>
</html>
